body{background: #b3afaf ;/*ffb03a*/ max-width: 630px; margin-left: auto; margin-right:auto; padding: 0;font-family: Arial;font-size: 9pt;}
body, input, textarea{}
div.body{background: #ffcf9c;background-position: right bottom;margin-top:0.2px;border:2px solid #663019;}
hr{border:none;}
table{font-family: Arial;font-size: 9pt;}
input.button{
	
}
.a{height: 48px;text-align:center;margin-top:-10px;z-index:1;position: relative;}
.a img{
	margin-top:-30px;z-index:2;position: relative;
}
.b{background: url(../images/menu_bg.png) repeat-x  ; height:23px;color:#ff7700;margin-left:10px;margin-right:9px;}
.b-content{position: relative;z-index:1;padding-top:4px;padding-left:3px;}
/*.b-left{background: url(../images/left_menu.gif) no-repeat;position: absolute;background-position:left;height:34px; width:18px;} */
.b-left{background: url(../images/left_menu.png) no-repeat;position: absolute;background-position:left;height:23px;width:7px;margin-left:3px; }
.b-right{background: url(../images/right_menu.png) no-repeat;margin-left:206px;position: absolute;height:23px; width:7px;}
.c{color: #ff7700;font-weight: bold;text-decoration: none;font-size:1.2em;}
.d{color: #ff7700;text-decoration: none;font-weight: bold;}
.h{padding-left: 0px;padding-top:5px;}
.bg-content{text-align: left;padding: 3px;margin-bottom:3px; background: #ffcf9c;background-position: right bottom;margin-top:0.2px;border:2px solid #663019;padding-top:3px;color:#000;}
.bg-content .title{
	font-size: 15px;
	color: #e73d00;
	border-bottom: 1px solid #d2b087;
}
.bg-content .content{
	padding: 2px 2px 2px 0px;
}
.bg-content .date{
	padding: 2px 2px 2px 0px;
	font-style: italic;
	font-size: 9px;
	position: relative;
float: right;
margin-top: -13px;
}
.h a{color:#ad4105;}
.h img{margin:0;padding:0;}
.h li{margin-left:20px;}
.l{padding-left: 17px;padding-right: 7px;padding-bottom: 3px;padding-top:3px;text-align:center;color:#000;}
a{color: #ff7700;text-decoration: none;}
/*a:hover{color: #108b00;text-decoration: none;}background:
}*/
.i{}
.j{color: #000;}
.g{border-bottom: 1px solid #CCC;padding: 3px 7px;}
.k{list-style: square outside none;margin: 0 0 0 16px;padding-left: 0;position: relative;}
.e{padding-top: 5px;padding-left: 7px;padding-right: 7px;}
.f{padding-top: 3px;padding-bottom: 3px;padding-left: 7px;padding-right: 7px;background-color: #cefb76;border: 1px solid #52fd2b;margin-bottom: 3px;}
.m {padding-left: 7px;padding-right: 7px;margin-top:-15px;padding-bottom: 3px;}
.n{color: #999;}
.listOther li {margin-left:-25px;}
.body-content {background: #e28547;width:100%;margin-left:0px;margin-bottom:-27px;
               
}
.bg-content222{
	background: url('../images/bg_center.png') no-repeat #d79242;background-position: right bottom; width:98%;margin-left:5px;
	z-index: 15;
	position: relative;
}
.bg_top {background: url(../images/bg_top.png) repeat-x;position: relative;z-index:0;width:100%;height:42px;margin-top:0px;margin-left:0px;
border-radius: 6px;
}
.bottom_paper {position: absolute;max-width:640px;margin-left: auto;margin-right: auto;}
.link-footer {position: relative;z-index:2;margin-bottom:-35px;max-width:210px;}
.link-more {width:100%;}
.footer{background:url(../images/bg_bottom.png) #e28637 repeat-x;position: absolute;width:100%;height:57px;
		background-position: center bottom; border-radius: 6px;
		
}
.left_b_bottom { width:100%;margin-top:-1px;position: relative;}
.bg_bottom {background: url(../images/bg_bottom.png) repeat-x;position: relative;width:94%;height:98px;margin-left: auto;margin-right: auto;padding-bottom:5px;}
.right_b_bottom {position: relative;z-index:2;background-position:right;width:100%;margin-top:-5px;}
.body_body {/*max-width:630px;margin-bottom:80px;padding-right:5px;*/margin-left: auto;margin-right: auto;}
.copyright{position: relative;z-index:3;width:95%;margin-left: auto;margin-right: auto;text-align:center;color:#000;font-size:10px;
}
span.comment-time {
    font-size: x-small;
    color: #333333;
    font-style: italic;
    text-decoration: none;
}
span.blog-time {
    font-size: x-small;
    color: #555555;
    //font-style: italic;
    text-decoration: none;
}
span.pad {
    padding-left: 20px;
}
img {
    border: none;
}
img.comment-avatar {
    width: 40px;

}
img.blog-avatar {
    width: 45px;
    position: relative;
    z-index:0;
}
img.avatar {
    
}
img.search-avatar {
    width: 40px;
}
.comment {
    background-color: #A0E5FF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
td.comment {
    padding: 2px 5px 2px 5px;
    font-size: 11px;
}
td.blog-avatar {
    vertical-align:top;	
}
div.blog-bg-left{
    height: 0;
}
div.blog-bg-left img{
    position: relative;
    left:-11px;
    top:-6px;
}
td.current-blog{
    width: 600px; 
    padding:4px;
    position: relative;
    z-index: 0;
    background-color: #fff;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    
}
td.friend-left {
    padding: 1px;
    width: 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #EAEAEA;
}
td.friend-right {
    padding: 1px;
    vertical-align: top;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #EAEAEA;
    vertical-align: bottom;
}
td.comment-avatar {
    width: 24px;
    height: 24px;
    padding: 2px 2px 2px 2px;

}
img.lil-command {
    margin-bottom:-3px;
}
.info{
    background-color: #f9f0da;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
td.left {
    vertical-align: bottom;
    text-align: right;
    background-color: #DEDEDE;
    padding: 2px 5px 2px 2px;
    margin: 3px 5px 2px 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C1C1C1;
    width: 70px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
td.right {
    border-width: 0px 0px 1px 0px;
    padding: 2px 0px 2px 2px;
    border-style: solid;
    border-color: #C1C1C1;
}
tr.header {
    font-weight: bold;
    background-color: #CCCCCC;
    padding: 2px 0px 2px 2px;
    text-align: center;
}
tr.search-odd-row {
    background-color:#EFEFEF;
    padding-left: 2px;
}
tr.search-even-row {
    background-color: #F9F9F9;
    padding-left: 2px;
}
tr.blog {
    padding: 2px;
}
table.blog {

}
div.anou{
    text-align:center;
    height:15px;
    background-color:#f9f0da;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #ffb03a;
}
input[type="text"], textarea, input[type="password"]
{
    border-radius: 4px;
    border: 1px solid #CCC;
    padding: 2px;
	width:50px;
}
.pagecurrent
{
    font-size: 10px;
    background-color: #561d00;
    color: white;
    border: #e5e5e5 2px solid;
    width: 15px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-top: 2px;
    font-weight:normal;
    margin-left:2px;
    text-decoration: none;
    /*-moz-border-radius: 5px; 
    -webkit-border-radius: 5px;*/
    font-weight:bold;
}
.pagelink, .pagelink:hover
{
    font-size: 10px;
    background-color: white;
    color: #ff0000;
    border: #e5e5e5 2px solid;
    width: 15px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-top: 2px;
    font-weight:normal;
    margin-left:2px;
    text-decoration: none;
    /*-moz-border-radius: 5px; 
    -webkit-border-radius: 5px;*/
    font-weight:bold;
}
.pagelink:hover
{
    background-color: #561d00;
    color: white;
}
.pagination {
    margin-bottom:5px;
    margin-top:3px;
}
.menu2 {
	background: #561d00;
	margin: 0;
	margin-bottom: 3px;
}
tr.menu td, tr.menu td a {
    color: #ffcf9c;
    font-weight: none;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
    padding-left: 0;
}
td#selected a {
    color: #561d00;
}
tr.menu td a:hover, td#selected a:hover {
    text-decoration: underline;
}
tr.menu td, td#selected {
	width: 33%;
    background-color: #9f5424;
   /* -webkit-border-radius: 3px;
border-radius: 3px;*/
}
tr.menu1 td, tr.menu1 td a {
    color: white;
    font-weight: none;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
    padding-left: 0;
}
tr.menu1 td, td#selected {
    background-color: #4089ba;
}
tr.menu2 td, tr.menu2 td a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
    padding-left: 0;
}
tr.menu2 td, td#selected {
}
td#selected {
    background: url('../images/bg_menu.png');
    /*-webkit-border-radius: 3px;
    border-radius: 3px;*/
}
tr.menu1 td#selected{
    background-color: #dbf5ff;	
}
.barpt{
	width: 200px;
	height: 10px;
	background: #c6f48b;
	border: 1px solid #969696;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.barpt .pt{ 
	height: 10px;
	background-color: #599F00;
}
.bg_tree{

	
}
.h .bg_noel{
	height:17px;
	background: url(../images/bg_menutop.png) repeat-x;
	margin-top: -10px;
	z-index:10;
	position:relative;
}
.foot_bg{
	width: 300px;
	text-align: center;
	z-index: 11;
	height: 48px;
	position:absolute;
	background: url('../images/bg_foot.png') no-repeat;
}
/* Colors */
.w3-amber,.w3-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.w3-aqua,.w3-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.w3-light-blue,.w3-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.w3-brown,.w3-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.w3-cyan,.w3-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.w3-light-green,.w3-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.w3-indigo,.w3-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.w3-khaki,.w3-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.w3-lime,.w3-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.w3-orange,.w3-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.w3-deep-orange,.w3-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.w3-pink,.w3-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.w3-purple,.w3-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.w3-deep-purple,.w3-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.w3-sand,.w3-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.w3-yellow,.w3-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.w3-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.w3-pale-green,.w3-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.w3-pale-yellow,.w3-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.w3-text-amber,.w3-hover-text-amber:hover{color:#ffc107!important}
.w3-text-aqua,.w3-hover-text-aqua:hover{color:#00ffff!important}
.w3-text-blue,.w3-hover-text-blue:hover{color:#2196F3!important}
.w3-text-light-blue,.w3-hover-text-light-blue:hover{color:#87CEEB!important}
.w3-text-brown,.w3-hover-text-brown:hover{color:#795548!important}
.w3-text-cyan,.w3-hover-text-cyan:hover{color:#00bcd4!important}
.w3-text-blue-grey,.w3-hover-text-blue-grey:hover,.w3-text-blue-gray,.w3-hover-text-blue-gray:hover{color:#607d8b!important}
.w3-text-green,.w3-hover-text-green:hover{color:#4CAF50!important}
.w3-text-light-green,.w3-hover-text-light-green:hover{color:#8bc34a!important}
.w3-text-indigo,.w3-hover-text-indigo:hover{color:#3f51b5!important}
.w3-text-khaki,.w3-hover-text-khaki:hover{color:#b4aa50!important}
.w3-text-lime,.w3-hover-text-lime:hover{color:#cddc39!important}
.w3-text-orange,.w3-hover-text-orange:hover{color:#ff9800!important}
.w3-text-deep-orange,.w3-hover-text-deep-orange:hover{color:#ff5722!important}
.w3-text-pink,.w3-hover-text-pink:hover{color:#e91e63!important}
.w3-text-purple,.w3-hover-text-purple:hover{color:#9c27b0!important}
.w3-text-deep-purple,.w3-hover-text-deep-purple:hover{color:#673ab7!important}
.w3-text-red,.w3-hover-text-red:hover{color:#f44336!important}
.w3-text-sand,.w3-hover-text-sand:hover{color:#fdf5e6!important}
.w3-text-teal,.w3-hover-text-teal:hover{color:#009688!important}
.w3-text-yellow,.w3-hover-text-yellow:hover{color:#d2be0e!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-text-black,.w3-hover-text-black:hover{color:#000!important}
.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{color:#757575!important}
.w3-text-light-grey,.w3-hover-text-light-grey:hover,.w3-text-light-gray,.w3-hover-text-light-gray:hover{color:#f1f1f1!important}
.w3-text-dark-grey,.w3-hover-text-dark-grey:hover,.w3-text-dark-gray,.w3-hover-text-dark-gray:hover{color:#3a3a3a!important}
.w3-border-amber,.w3-hover-border-amber:hover{border-color:#ffc107!important}
.w3-border-aqua,.w3-hover-border-aqua:hover{border-color:#00ffff!important}
.w3-border-blue,.w3-hover-border-blue:hover{border-color:#2196F3!important}
.w3-border-light-blue,.w3-hover-border-light-blue:hover{border-color:#87CEEB!important}
.w3-border-brown,.w3-hover-border-brown:hover{border-color:#795548!important}
.w3-border-cyan,.w3-hover-border-cyan:hover{border-color:#00bcd4!important}
.w3-border-blue-grey,.w3-hover-border-blue-grey:hover,.w3-border-blue-gray,.w3-hover-border-blue-gray:hover{border-color:#607d8b!important}
.w3-border-green,.w3-hover-border-green:hover{border-color:#4CAF50!important}
.w3-border-light-green,.w3-hover-border-light-green:hover{border-color:#8bc34a!important}
.w3-border-indigo,.w3-hover-border-indigo:hover{border-color:#3f51b5!important}
.w3-border-khaki,.w3-hover-border-khaki:hover{border-color:#f0e68c!important}
.w3-border-lime,.w3-hover-border-lime:hover{border-color:#cddc39!important}
.w3-border-orange,.w3-hover-border-orange:hover{border-color:#ff9800!important}
.w3-border-deep-orange,.w3-hover-border-deep-orange:hover{border-color:#ff5722!important}
.w3-border-pink,.w3-hover-border-pink:hover{border-color:#e91e63!important}
.w3-border-purple,.w3-hover-border-purple:hover{border-color:#9c27b0!important}
.w3-border-deep-purple,.w3-hover-border-deep-purple:hover{border-color:#673ab7!important}
.w3-border-red,.w3-hover-border-red:hover{border-color:#f44336!important}
.w3-border-sand,.w3-hover-border-sand:hover{border-color:#fdf5e6!important}
.w3-border-teal,.w3-hover-border-teal:hover{border-color:#009688!important}
.w3-border-yellow,.w3-hover-border-yellow:hover{border-color:#ffeb3b!important}
.w3-border-white,.w3-hover-border-white:hover{border-color:#fff!important}
.w3-border-black,.w3-hover-border-black:hover{border-color:#000!important}
.w3-border-grey,.w3-hover-border-grey:hover,.w3-border-gray,.w3-hover-border-gray:hover{border-color:#9e9e9e!important}
.w3-border-light-grey,.w3-hover-border-light-grey:hover,.w3-border-light-gray,.w3-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.w3-border-dark-grey,.w3-hover-border-dark-grey:hover,.w3-border-dark-gray,.w3-hover-border-dark-gray:hover{border-color:#616161!important}
.w3-border-pale-red,.w3-hover-border-pale-red:hover{border-color:#ffe7e7!important}.w3-border-pale-green,.w3-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.w3-border-pale-yellow,.w3-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.w3-border-pale-blue,.w3-hover-border-pale-blue:hover{border-color:#e7ffff!important}
.w3-btn,.w3-btn-block,.w3-button{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover,.w3-btn-block:hover,.w3-btn-floating:hover,.w3-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-button{color:#000;background-color:#f1f1f1;padding:8px 16px}.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-btn,.w3-btn-floating,.w3-btn-floating-large,.w3-closenav,.w3-opennav,.w3-btn-block,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-btn-floating,.w3-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.w3-btn-floating{width:40px;height:40px;line-height:40px}.w3-btn-floating-large{width:56px;height:56px;line-height:56px}
.w3-disabled,.w3-btn:disabled,.w3-button:disabled,.w3-btn-floating:disabled,.w3-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn-block.w3-disabled:hover,.w3-btn:disabled:hover,.w3-btn-floating.w3-disabled:hover,.w3-btn-floating:disabled:hover,
.w3-btn-floating-large.w3-disabled:hover,.w3-btn-floating-large:disabled:hover{box-shadow:none}
.w3-btn-group .w3-btn{float:left}.w3-btn-block{width:100%}
.w3-btn-bar .w3-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.w3-btn-bar .w3-btn:hover{background-color:#ccc}